body {
    background-color: #303030;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    background-image: url("backgroundpic.jpg");
    background-size: 110rem 80rem;
    background-position: center;
}

main {
    max-width:40rem ;
    margin: auto;
}


a {
    text-decoration: none;
    color: rgb(222, 222, 222);
    border-radius: 10px;
    border-color: orange;
    border-style: solid;
    padding: 10px;
    font-size: small;
    font-weight: lighter;
}

h1{
    text-align: center;
    font-weight: lighter;
    color: rgb(222, 222, 222);
    font-size:30px;

    animation-name: h1-animation;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 1;
}

h2{
    text-decoration: underline orange;
    font-weight: 100;
}

.aboutme {
    margin-top: 150px;
}

p {
    font-size: small;
    font-weight: lighter;
}



.container  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    text-align: center;
}

section  {
    color: rgb(222, 222, 222);
    font-size: small;
    margin: auto;
}

.picture {
    width: 100%;
    height: auto;
    margin-top: 100px;

    animation-name: picture;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 1;
}

@keyframes h1-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@keyframes picture {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}