h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 225px;
    color: aliceblue;
}
.background{
    background-color: #303030
}
h2{
    color: darkgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
p{
    color: aliceblue;
}
.picture{
    align-items: center;
    float: right;
}