.container-1 {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 30px 5fr 2fr;
    grid-template-areas:
    "header-1 header-2 header-3"
    "picture-1 picture-2 picture-3"
    ". text .";
    min-height: 100vh;
    min-width: 400px;
    row-gap: 40px;
    column-gap: 50px;
}



.header-1 {
    grid-area: header-2;
    color: aliceblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}



.top-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: aliceblue;
    text-align: center;
    border-radius: 1px;
    border-style: solid;
    border-color: orange;
    border-top: 10px;
    grid-area: header-2;
}

.background {
    background-color: #303030;
}

a{
    text-decoration: none;
}

.picture {
grid-area: picture-2;
}

.text {
grid-area: text;
color: aliceblue;
}